.buy-now-section {
    @include flex-column;
    justify-content: center;
    align-items: center;
    @media(max-width: $md) {
        background: linear-gradient(39.97deg, #00F3B9 0.79%, #2187FF 79.29%);
    }
    &-text {
        margin-top: 100px;
        @include titleStyle;
    }
    &-btn {
        button {
            @include btn;
            padding: 18px 31px;
            background-color: $white !important;
            color: $btn !important;
            margin: 90px 20px 100px 0;
            border: 1px solid $white;
        }
        button:hover {
            @include btn;
            color: $white !important;
            padding: 18px 31px;
            background-color: transparent!important;
            border: 1px solid $white;
            margin: 90px 20px 100px 0;
        }
    }
}