$white: #fff;
$black: #374754;
$btn: #2091F9;
$bg: linear-gradient(39.97deg, #00F3B9 0.79%, #2187FF 79.29%);
$background: #252B42;
$primeryFontRegular: "Roboto-Regular";
$primeryFontBold: "Roboto-Bold";
$primeryFontMedium: "Roboto-Medium";
$sl: 400px;
$sm: 540px;
$md: 770px;
$lg: 960px;
$xl: 1140px;
$xxl: 1340px;