.contact {
    .container {
        @include titleStyle;
        justify-content: center;
        width: 70%;
        @media(max-width: $md) {
            width: 100%;
        }
    }
    &__icons {
        @include flex-row;
        justify-content: center;
        align-items: center;
        img {
            margin: 75px 16px;
        }
    }
    &__map {
        @include flex-row;
        justify-content: center;
        height: 320px;
        iframe {
            width: 100%;
            border: 0;
        }
    }
    &__logo {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        margin: 65px 40px 106px;
        @media(max-width: $md) {
            @include flex-column;
            align-items: start;
        }
        &-text {
            @include flex-column;
            align-items: center;
            font-size: 12px;
            line-height: 18px;
            flex: 1;
            @media(max-width: $md) {
                @include flex-row;
                text-align: left;
                margin-top: 30px;
            }
            p {
                text-align: center;
                padding-top: 20px;
                width: 110%;
                @media(max-width: $md) {
                    text-align: left;
                    align-items: center;
                    padding: 0 20px;
                }
            }
        }
    }
    &__form {
        @include flex-column;
        font-family: $primeryFontRegular;
        background: $white;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 20px;
        padding: 52px 50px;
        margin-bottom: 100px;
        p {
            color: $black;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.1px;
            width: 22%;
        }
        input {
            @include email;
            margin-top: 45px;
            &:focus {
                outline: 0;
            }
            &::placeholder {
                font-size: 14px;
                line-height: 16px;
            }
        }
        textarea {
            border: 1px solid #E8E8E8;
            color: $black;
            box-sizing: border-box;
            margin: 45px 0;
            padding: 19px 19px 19px 39px;
            &:focus {
                outline: 0;
            }
            &::placeholder {
                font-size: 15px;
                line-height: 16px;
                letter-spacing: 0.1px;
                outline: 0;
            }
        }
        button {
            @include btn;
            width: 145px;
            height: 52px;
            padding: 18px 54px;
            align-items: center;
            border: 2px solid $white;
        }
        button:hover {
            background: $bg !important;
            color: $white !important;
            border: 2px solid $white;
        }
    }
}