.features-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
        @include titleStyle;
        margin-top: 96px;
        p {
            width: 21vw;
        }
    }
    &-info {
        @include flex-row;
        &__img {
            align-items: center;
        }
        &__descr {
            @include flex-column;
            justify-content: center;
            color: $white;
            .about-info {
                &__img {
                    margin-top: 90px;
                    @include flex-row;
                    align-items: center;
                    h3 {
                        margin: auto 0;
                    }
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}