.more {
    .container {
        position: relative;
        @include flex-row;
        justify-content: space-between;
        width: 80%;
        // @media(max-width: 780px) {
        //     @include flex-column;
        // }
        @media(max-width: $xl) {
            @include flex-column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    .pages {
        justify-content: space-between;
        @media(min-width: $md) {
            display: none;
            visibility: hidden;
            @include flex-column;
            justify-content: center;
            align-items: center;
            position: absolute;
        }
        ul {
            font-size: 15px;
            line-height: 27px;
            letter-spacing: 0.2px;
            color: $white;
            text-decoration: none;
            list-style-type: none;
            margin-top: 80px;
            li {
                margin: 8px 0;
            }
            li:first-child {
                font-size: 22px;
                line-height: 33px;
                letter-spacing: 0.1px;
                margin-bottom: 17px;
            }
        }
    }
    .footext {
        @include flex-row;
        justify-content: space-between;
        @media(max-width: $md) {
            display: none;
        }
        ul {
            font-size: 15px;
            line-height: 27px;
            letter-spacing: 0.2px;
            color: $white;
            text-decoration: none;
            list-style-type: none;
            li {
                margin: 8px 0;
            }
            li:first-child {
                font-size: 22px;
                line-height: 33px;
                letter-spacing: 0.1px;
                margin-bottom: 17px;
            }
        }
    }
    &__subscribe {
        @include flex-column;
        justify-content: start;
        text-align: left;
        color: $white;
        @media(max-width: 780px) {
            justify-content: center;
            align-items: center;
        }
        @media(max-width: $xl) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-img {
            @include flex-row;
            justify-content: start;
            text-align: left;
            img {
                margin: 0 32px 32px 0;
                @media(max-width: $md) {
                    margin: 80px 32px 32px;
                }
            }
        }
        span {
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.1px;
        }
        p {
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 0.2px;
            margin: 0;
        }
        &-btn {
            input {
                @include email;
                padding: 19px 19px 19px 35px;
                margin: 29px 0 12px 0;
                width: 100%;
                &:focus {
                    outline: 0;
                }
                &::placeholder {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
            button {
                @include btn;
                padding: 17px 144px;
                margin-bottom: 130px;
                border: 2px solid $btn;
                width: 100%;
            }
            button:hover {
                background: transparent !important;
                color: $white !important;
                border: 2px solid $white;
            }
        }
    }
}