.home-section {
    @include flex-column;
    //color: #FFFFFF;
    color: $white;
    text-align: center;
    justify-content: center;
    background-image: url(../img/grad.svg);
    background-repeat: no-repeat;
    background-size: cover;
    // background: linear-gradient(39.97deg, #00F3B9 0.79%, #2187FF 79.29%);
    @include titleStyle;
    span {
        margin-top: 260px;
    }
    &-btn button {
        // color: #2091F9;
        color: $btn;
        background: $white;
        border-radius: 35px;
        padding: 16px 58px;
        border: none;
        margin: 90px 0 115px;
    }
    &-pc {
        @include flex-row;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
            height: 100%;
        }
    }
}