@import "./fonts.scss";
@import "./consttants.scss";
@import "./mixin.scss";
@import "./navbar.scss";
@import "./home-section.scss";
@import "./features-section.scss";
@import "./buy-now.scss";
@import "./newsletter.scss";
@import "./partners.scss";
body {
    background: #252B42;
    margin: 0px auto;
    .container {
        min-width: 1440px;
    }
}