@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin titleStyle {
    text-align: center;
    color: $white;
    span {
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        font-family: "Roboto-Bold";
    }
    h2 {
        font-size: 46px;
        line-height: 57px;
        letter-spacing: 0.2px;
        margin: 17px 0 27px;
        font-family: "Roboto-Regular";
    }
    p {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        font-family: "Roboto-Bold";
        margin: 0;
    }
}

@mixin btn {
    color: $white;
    font-size: 16px;
    line-height: 16px;
    background: $btn;
    border: none;
    border-radius: 35px;
}

@mixin email {
    color: #18171D;
    font-size: 14px;
    line-height: 16px;
    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    padding: 19px 166px 19px 39px;
}