.navbar {
    position: absolute;
    width: 100%;
    .container {
        @include flex-row;
        justify-content: space-between;
        text-align: center;
        margin-top: 50px;
        flex-wrap: nowrap !important;
        width: 90%;
    }
    &-menu {
        .nav-link {
            margin: 0 10px;
            font-family: $primeryFontRegular;
            font-size: 15px;
            line-height: 27px;
            letter-spacing: 0.2px;
            color: $white;
            @media(max-width: $xxl) {
                margin: 0;
            }
        }
        .nav {
            flex-wrap: nowrap;
        }
    }
    &-form {
        @include flex-row;
        align-items: center;
        input {
            @include email;
            margin: 0px 12px;
            width: 273px;
            &:focus {
                outline: 0;
            }
            &::placeholder {
                font-family: $primeryFontRegular;
                color: #18171D;
                font-size: 14px;
                line-height: 16px;
            }
            @media(max-width: $xl) {
                margin: 0;
            }
        }
        button {
            margin: 0px 10px;
            background: $white !important;
            color: $btn !important;
            border: none;
            padding: 19px 38px;
            @include btn;
        }
    }
}