nav {
    .navbar {
        position: absolute;
        padding: 0 !important;
        margin-top: 50px;
        &-menu {
            .nav-link {
                margin: 0 10px !important;
                font-family: "Roboto-Regular";
                font-size: 15px;
                line-height: 27px;
                letter-spacing: 0.2px;
                // color: $white;
                color: #fff;
            }
        }
        &-form {
            @include flex-row;
            align-items: center;
            input {
                color: #18171D;
                font-size: 14px;
                line-height: 16px;
                background: #FFFFFF;
                // background: $white;
                border: 1px solid #E8E8E8;
                border-radius: 39px;
                margin: 0px 12px;
                padding: 19px 166px 19px 39px;
            }
            button {
                color: #2091F9;
                // color: $btn;
                font-size: 16px;
                line-height: 16px;
                margin: 0px 10px;
                background: #FFFFFF;
                // background: $white;
                border: none;
                border-radius: 35px;
                padding: 19px 38px;
            }
        }
    }
}