.newsletter {
    .container {
        @include flex-row;
        margin: 216px auto 109px;
    }
    &-block {
        @include flex-row;
        align-items: center;
        &-pic {
            // background: url(../img/news.svg) no-repeat;
            // ;
            // height: 100%;
            // width: 100%;
            img {
                max-width: 100%;
                height: 100%;
            }
        }
        &__descr {
            @include titleStyle;
            @include flex-column;
            align-items: start !important;
            h2 {
                text-align: left;
            }
            &__btn {
                @include flex-row;
                align-items: center;
                input {
                    @include email;
                    margin-top: 34px;
                    width: 273px;
                }
                input:focus {
                    outline: 0;
                }
                button {
                    margin: 34px 0 0 12px;
                    color: $btn;
                    border: none;
                    padding: 19px 38px;
                    @include btn;
                }
            }
        }
    }
}