.newsletter {
    .container {
        margin: 216px auto 109px;
        @include flex-row;
    }
    &-block {
        @include flex-row;
        align-items: center;
        justify-content: space-between;
        // &__info {
        //     align-items: left;
        // }
        &-pic {
            background-image: url(../img/news.svg);
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }
        &__descr {
            @include titleStyle;
            @include flex-column;
            align-items: start !important;
            // h1 {
            //     align-items: start !important;
            // }
            &__btn {
                @include flex-row;
                align-items: center;
                input {
                    @include email;
                    margin-top: 34px;
                }
                input:focus {
                    outline: 0;
                }
                button {
                    margin: 34px 0 0 12px;
                    color: $btn;
                    border: none;
                    padding: 19px 38px;
                    @include btn;
                }
            }
        }
    }
}