.pricing {
    .contaner {
        @include flex-row;
        justify-content: space-between; //dosen't worked
    }
    &__title {
        @include titleStyle;
        text-align: left;
        p {
            width: 22%;
        }
    }
    &__info {
        @include flex-column;
        @include titleStyle;
        text-align: left;
        align-items: start;
        &-dollar {
            @include flex-row;
            align-items: center;
            h1 {
                margin: 16px 10px 16px 0;
            }
        }
        button {
            @include btn;
            padding: 18px 38px;
            margin: 19px 0 100px;
        }
    }
}