.pricing {
    .container {
        @include flex-row;
        justify-content: space-around;
        @media(max-width: $md) {
            @include flex-column;
            justify-content: center;
            align-items: center;
        }
    }
    &__title {
        @include titleStyle;
        text-align: left;
        align-items: start;
        justify-content: start;
        width: 30%;
        h1 {
            margin: 0 0 26px 0;
        }
        @media(max-width: $md) {
            @include flex-column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 70%;
        }
    }
    &__info {
        @include flex-column;
        @include titleStyle;
        text-align: left;
        align-items: start;
        @media(max-width: $md) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 110px;
            span {
                text-align: center;
            }
        }
        &-dollar {
            @include flex-row;
            align-items: center;
            h1 {
                margin: 16px 10px 16px 0;
            }
        }
        span {
            width: 75%;
        }
        button {
            @include btn;
            padding: 18px 38px;
            margin: 19px 0 100px;
            border: 2px solid $btn;
        }
        button:hover {
            background: transparent !important;
            color: $white !important;
            border: 2px solid $white;
        }
    }
}