section.buy-now-section 
    .buy-now-section-text
        span At your fingertips
        h2 Lightning fast prototyping 
        p Most calendars are designed for teams.<br> Slate is designed for freelancers
    .buy-now-section-btn
        button Buy now
        button Try for free