section.features-section
    .features-section-title
        span At your fingertips
        h2 Features
        p Most calendars are designed for teams. Slate is designed for freelancers
    .features-section-info
        .features-section-info__img
            img(src="../img/browser.png", alt="browser")
        .features-section-info__descr 
            .about-info
                .about-info__img
                    img(src="../img/icon-info.png")
                    h3 At your fingertips
            p Slate helps you see how many more days you need to work to reach your financial goal. 
            .about-info
                 .about-info__img
                    img(src="../img/icon-info.png")
                    h3 At your fingertips
            p Slate helps you see how many more days you need to work to reach your financial goal. 
