footer.more
    .container
        .footext
            include ./more-pages.pug
        .pages
            include ./footext.pug
        .more__subscribe
            .more__subscribe-img
                img(src="../img/more1.png", alt="icons")
                img(src="../img/more2.png", alt="icons")
                img(src="../img/more3.png", alt="icons")
            span Subscribe to our Newsletter
            p Available exclusivery on Figmaland
            .more__subscribe-btn
                input(type="email" placeholder="Your Email")
                button Subsribe