
.footext 
    ul
        li Pages
        li Home
        li Product
        li Pricing
        li About
        li Contact
.footext
    ul
        li Tomothy 
        li Eleanor Edwards
        li Ted Robertson
        li Annette Russell
        li Jennie Mckinney
        li Gloria Richards
.footext
    ul
        li Jane Black
        li Philip Jones
        li Product
        li Colleen Russell
        li Marvin Hawkins
        li Bruce Simmmons