section.newsletter 
    .container 
        .newsletter-block
            img(src="../img/news.svg")
            .newsletter-block__info
                .newsletter-block__descr
                    span At your fingertips
                    h2 Lightning fast prototyping 
                    p 
                        strong Subscribe to our Newsletter
                    p Available exclusivery on Figmaland
                .newsletter-block__descr__btn
                    <input type="email" placeholder="Your Email">
                    <button>Subsribe</button>
