section.partners
    .container 
        h2 Partners
        p Most calendars are designed for teams. Slate is designed for freelancers
        .partners__icons 
            img(src="../img/icon1.svg", alt="icon")
            img(src="../img/icon2.svg", alt="icon")
            img(src="../img/icon3.svg", alt="icon")
            img(src="../img/icon4.svg", alt="icon")
            img(src="../img/icon5.svg", alt="icon")
            img(src="../img/icon1.svg", alt="icon")
            img(src="../img/icon6.svg", alt="icon")
        button Try For Free