section.pricing
    .container
        .pricing__title 
            h1 Pricing
            p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
        .pricing__info 
            span 30 - DAY FREE TRIAL.
            .pricing__info-dollar
                h1 $10
                span / Month per User
            span Most calendars are designed for teams. 
            button Get started