section.testimonials
    .container 
        h2 Testimonials
        .testimonials-cards
            .testimonials-card
                img(src="../img/avatar1.png" , alt="avatar")
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
                img(src="../img/stars.png", alt="star")
                span Regina Miles
                small Designer
            .testimonials-card
                img(src="../img/avatar2.png" , alt="avatar")
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
                img(src="../img/stars.png", alt="star")
                span Regina Miles
                small Designer
            .testimonials-card
                img(src="../img/avatar3.png" , alt="avatar")
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
                img(src="../img/stars.png", alt="star")
                span Regina Miles
                small Designer
            .testimonials-card
                img(src="../img/avatar4.png" , alt="avatar")
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
                img(src="../img/stars.png", alt="star")
                span Regina Miles
                small Designer
            .testimonials-card
                img(src="../img/avatar5.png" , alt="avatar")
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
                img(src="../img/stars.png", alt="star")
                span Regina Miles
                small Designer
            .testimonials-card
                img(src="../img/avatar6.png" , alt="avatar")
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
                img(src="../img/stars.png", alt="star")
                span Regina Miles
                small Designer
        button More Testimonials